<div class="mdui-card postDiv mdui-center mdui-hoverable">
    <div class="mdui-card-actions">
        <a id="speech_id" href="textbook_link" target="_blank" class="mdui-text-color-theme-accent ainList">
            <h1>speech_title</h1>
        </a>
        <div class="mdui-divider underline"></div>
        <a class="mdui-btn mdui-ripple mdui-ripple-white coun-read mdui-text-color-theme-accent" href="textbook_link"
            target="_blank">阅读法本</a>
        <a class="mdui-btn mdui-ripple mdui-ripple-white coun-read mdui-text-color-theme-accent" href="youtube_qa"
            target="_blank">观看问答</a>
        <a class="mdui-btn mdui-ripple mdui-ripple-white coun-read mdui-text-color-theme-accent" href="youtube_speech"
            target="_blank">观看演讲</a>
    </div>
</div>