<div class="mdui-card postDiv mdui-center mdui-hoverable">
    <div class="mdui-card-actions">
        <a href="class_html" class="mdui-text-color-theme-accent ainList">
            <h1>class_title</h1>
        </a>
        <div class="mdui-divider underline"></div>
        <a class="mdui-btn mdui-ripple mdui-ripple-white coun-read mdui-text-color-theme-accent" href="class_html">阅读全文</a>
        <a class="mdui-btn mdui-ripple mdui-ripple-white coun-read mdui-text-color-theme-accent" href="lineage_link" target="_blank">观看传承</a>
    </div>
</div>
