.ff0{font-family:sans-serif;visibility:hidden;}
.sc_{text-shadow:none;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
}
.y1{bottom:90.000000px;}
.y5{bottom:90.750000px;}
.y21{bottom:91.500000px;}
.y14{bottom:92.250000px;}
.y13{bottom:93.750000px;}
.yd{bottom:94.500000px;}
.y25{bottom:95.250000px;}
.y11{bottom:96.000000px;}
.y12{bottom:96.750000px;}
.y1d{bottom:97.500000px;}
.y3{bottom:99.000000px;}
.yb{bottom:99.750000px;}
.y17{bottom:103.500000px;}
.y23{bottom:104.250000px;}
.y9{bottom:106.500000px;}
.y18{bottom:107.250000px;}
.y1e{bottom:108.000000px;}
.y6{bottom:108.750000px;}
.y1c{bottom:110.250000px;}
.y19{bottom:111.000000px;}
.y16{bottom:113.250000px;}
.y10{bottom:114.750000px;}
.y2{bottom:115.500000px;}
.y7{bottom:116.250000px;}
.ya{bottom:117.000000px;}
.y1a{bottom:117.750000px;}
.y15{bottom:119.250000px;}
.y8{bottom:122.250000px;}
.y22{bottom:125.250000px;}
.y4{bottom:126.000000px;}
.y26{bottom:128.250000px;}
.y1f{bottom:133.500000px;}
.yc{bottom:134.250000px;}
.yf{bottom:135.000000px;}
.y24{bottom:180.000000px;}
.ye{bottom:285.750000px;}
.y0{bottom:306.000000px;}
.y27{bottom:405.000000px;}
.y20{bottom:450.750000px;}
.y1b{bottom:507.750000px;}
.h1d{height:307.500000px;}
.h22{height:364.500000px;}
.h29{height:408.750000px;}
.h1{height:448.500000px;}
.hf{height:528.750000px;}
.h26{height:634.500000px;}
.h10{height:680.250000px;}
.hc{height:681.000000px;}
.h21{height:681.750000px;}
.h28{height:685.500000px;}
.h6{height:688.500000px;}
.h23{height:690.000000px;}
.h9{height:693.000000px;}
.h16{height:696.000000px;}
.h1c{height:697.500000px;}
.h8{height:698.250000px;}
.h25{height:699.000000px;}
.h4{height:699.750000px;}
.h11{height:700.500000px;}
.h17{height:702.000000px;}
.h1a{height:704.250000px;}
.h1e{height:705.000000px;}
.h27{height:705.750000px;}
.h7{height:706.500000px;}
.h20{height:707.250000px;}
.h19{height:708.000000px;}
.ha{height:708.750000px;}
.h24{height:711.000000px;}
.h18{height:711.750000px;}
.hb{height:714.750000px;}
.he{height:715.500000px;}
.h5{height:716.250000px;}
.h1f{height:717.750000px;}
.h13{height:718.500000px;}
.h12{height:719.250000px;}
.hd{height:720.750000px;}
.h14{height:721.500000px;}
.h15{height:723.000000px;}
.h1b{height:723.750000px;}
.h3{height:724.500000px;}
.h2{height:892.500000px;}
.h0{height:892.980000px;}
.w1{width:451.500000px;}
.w3{width:471.750000px;}
.w5{width:473.250000px;}
.w4{width:474.000000px;}
.w6{width:474.750000px;}
.w7{width:476.250000px;}
.w8{width:477.750000px;}
.w9{width:499.500000px;}
.w0{width:680.400000px;}
.w2{width:681.000000px;}
.x3{left:87.000000px;}
.x2{left:99.000000px;}
.x1{left:100.500000px;}
.x0{left:102.750000px;}
@media print{
.y1{bottom:80.000000pt;}
.y5{bottom:80.666667pt;}
.y21{bottom:81.333333pt;}
.y14{bottom:82.000000pt;}
.y13{bottom:83.333333pt;}
.yd{bottom:84.000000pt;}
.y25{bottom:84.666667pt;}
.y11{bottom:85.333333pt;}
.y12{bottom:86.000000pt;}
.y1d{bottom:86.666667pt;}
.y3{bottom:88.000000pt;}
.yb{bottom:88.666667pt;}
.y17{bottom:92.000000pt;}
.y23{bottom:92.666667pt;}
.y9{bottom:94.666667pt;}
.y18{bottom:95.333333pt;}
.y1e{bottom:96.000000pt;}
.y6{bottom:96.666667pt;}
.y1c{bottom:98.000000pt;}
.y19{bottom:98.666667pt;}
.y16{bottom:100.666667pt;}
.y10{bottom:102.000000pt;}
.y2{bottom:102.666667pt;}
.y7{bottom:103.333333pt;}
.ya{bottom:104.000000pt;}
.y1a{bottom:104.666667pt;}
.y15{bottom:106.000000pt;}
.y8{bottom:108.666667pt;}
.y22{bottom:111.333333pt;}
.y4{bottom:112.000000pt;}
.y26{bottom:114.000000pt;}
.y1f{bottom:118.666667pt;}
.yc{bottom:119.333333pt;}
.yf{bottom:120.000000pt;}
.y24{bottom:160.000000pt;}
.ye{bottom:254.000000pt;}
.y0{bottom:272.000000pt;}
.y27{bottom:360.000000pt;}
.y20{bottom:400.666667pt;}
.y1b{bottom:451.333333pt;}
.h1d{height:273.333333pt;}
.h22{height:324.000000pt;}
.h29{height:363.333333pt;}
.h1{height:398.666667pt;}
.hf{height:470.000000pt;}
.h26{height:564.000000pt;}
.h10{height:604.666667pt;}
.hc{height:605.333333pt;}
.h21{height:606.000000pt;}
.h28{height:609.333333pt;}
.h6{height:612.000000pt;}
.h23{height:613.333333pt;}
.h9{height:616.000000pt;}
.h16{height:618.666667pt;}
.h1c{height:620.000000pt;}
.h8{height:620.666667pt;}
.h25{height:621.333333pt;}
.h4{height:622.000000pt;}
.h11{height:622.666667pt;}
.h17{height:624.000000pt;}
.h1a{height:626.000000pt;}
.h1e{height:626.666667pt;}
.h27{height:627.333333pt;}
.h7{height:628.000000pt;}
.h20{height:628.666667pt;}
.h19{height:629.333333pt;}
.ha{height:630.000000pt;}
.h24{height:632.000000pt;}
.h18{height:632.666667pt;}
.hb{height:635.333333pt;}
.he{height:636.000000pt;}
.h5{height:636.666667pt;}
.h1f{height:638.000000pt;}
.h13{height:638.666667pt;}
.h12{height:639.333333pt;}
.hd{height:640.666667pt;}
.h14{height:641.333333pt;}
.h15{height:642.666667pt;}
.h1b{height:643.333333pt;}
.h3{height:644.000000pt;}
.h2{height:793.333333pt;}
.h0{height:793.760000pt;}
.w1{width:401.333333pt;}
.w3{width:419.333333pt;}
.w5{width:420.666667pt;}
.w4{width:421.333333pt;}
.w6{width:422.000000pt;}
.w7{width:423.333333pt;}
.w8{width:424.666667pt;}
.w9{width:444.000000pt;}
.w0{width:604.800000pt;}
.w2{width:605.333333pt;}
.x3{left:77.333333pt;}
.x2{left:88.000000pt;}
.x1{left:89.333333pt;}
.x0{left:91.333333pt;}
}
